* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4caf50;
  --secondary-color: #f4f4f4;
  --font-color: #000000;
  --accent-color: #ff5722;
  --hover-color: #45a049;
  --transition-speed: 0.3s;
  --btn-color: #1e3a8a;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--secondary-color);
  color: var(--font-color);
  line-height: 1.6;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hero {
  position: relative !important;
  color: var(--font-color);
  z-index: -1;
}
.inhero {
  top: 330px;
  left: 100px;
  right: 200px;
  position: absolute;
  justify-content: center;
  color: var(--secondary-color);
}

nav {
  background: rgba(255, 255, 255, 0.178);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--secondary-color);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--font-color);
  text-decoration: none;
}

.nav-links {
  background: none;
  display: flex;
  gap: 20px;
}

nav a,
nav li {
  font-weight: bolder;
  background: none;
  text-decoration: none;
  list-style: none;
  color: var(--font-color);
}

footer {
  background: #111827;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  text-align: center;
}

nav a:hover {
  color: var(--btn-color);
  transition: background var(--transition-speed);
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 30px;
    gap: 5px !important;
    right: 0;
    padding: 20px;
    background: none !important;
    display: none;
    text-align: right;
  }

  .hamburger {
    gap: 4.5px !important;
    display: flex;
  }
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 0.2px;
  }
  .active {
    display: flex;
    flex-direction: column;
    color: var(--btn-color);
    border-bottom: 2px solid var(--secondary-color);
  }
}
