* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero {
  background-color: navy;
  padding: 6px;
  text-align: center;
  color: white;
}

.hero h1 {
  font-weight: bolder;
}
