body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero {
  background-color: var(--primary-color);
  padding: 6px;
  text-align: center;
  color: white;
}

.hero h1 {
  font-weight: bolder;
}
