* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(30, 58, 138, 0.7), rgba(30, 58, 138, 0.7)),
    url(../assets/abouthero.jpeg) no-repeat center center/cover !important;
  height: 100vh;
}

